google-generativeai
langchain_google_genai
streamlit
langchain
langchain_pinecone
langchain_community
python-dotenv
google.generativeai
sentence-transformers
pinecone
pillow
pypdf
flask
openpyxl
rapidocr-onnxruntime
vertexai
numpy


