google-generativeai
langchain_google_genai
streamlit
langchain
langchain_pinecone
langchain_community
python-dotenv
google.generativeai
sentence-transformers
pinecone
Flask
gunicorn==20.1.0
